<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>769350708822-0aovmaghbhe40inj1q69744gqfgpvoeg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.769350708822-0aovmaghbhe40inj1q69744gqfgpvoeg</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>769350708822-pm8jphit3hv4mk31rh2k0ekj1q620qv8.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCf2FEUZPr1TmRFSxrjECToGwDUR59In-s</string>
	<key>GCM_SENDER_ID</key>
	<string>769350708822</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterPertama</string>
	<key>PROJECT_ID</key>
	<string>task-management-apps-2c73e</string>
	<key>STORAGE_BUCKET</key>
	<string>task-management-apps-2c73e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:769350708822:ios:6fd757a3e25991e0ea55f7</string>
</dict>
</plist>